.gr-title-getProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 0;
}
.main-title-getProduct {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: normal;
  color: #000;
  margin: 0;
  text-transform: capitalize;
}
.gr-title-getProduct .AScustom_sl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.AScustom_sl .select {
  position: relative;
  height: auto;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #ccc;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 0;
  border-radius: 5px;
}
.AScustom_sl .select:hover {
  -webkit-box-shadow: 0 0 10px rgb(33 86 149 / 20%);
  box-shadow: 0 0 10px rgb(33 86 149 / 20%);
  border-color: #ccc;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.AScustom_sl .select select {
  display: none;
}
.AScustom_sl .select-styled {
  /* white-space: nowrap; */
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #8c8c8c;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  border-radius: 5px;
  height: 50px;
  padding: 0 50px 0 30px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background: #fff;
}
.AScustom_sl .select-options {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 7;
  margin: 0;
  list-style: none;
  top: 50px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgb(33 86 149 / 20%);
  box-shadow: 0 0 10px rgb(33 86 149 / 20%);
  border-radius: 0;
  padding: 4px;
  max-height: 220px;
  overflow-y: auto;
}
.AScustom_sl .select-options li {
  position: relative;
  margin: 0;
  padding: 10px 15px !important;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: #8c8c8c;
  font-weight: 500;
  font-size: 11px;
  line-height: normal;
  background: #fff;
}
.AScustom_sl .select-options li:hover {
  background: #e40000;
  //   -webkit-transition: all 0.15s ease-in;
  //   -moz-transition: all 0.15s ease-in;
  //   -ms-transition: all 0.15s ease-in;
  //   -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: #fff;
}
.gr-title-getProduct .AScustom_sl .select:last-child {
  margin-left: 10px;
}
.list-product {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  .item-product {
    height: 100%;
    width: 33.33%;
    .card_all_product {
      border: none;
      position: relative;
      background: #fff;
      padding: 60px 20px 18px;
      -webkit-filter: drop-shadow(0 0 20px transparent);
      filter: drop-shadow(0 0 20px transparent);
      -webkit-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;

      text-align: center;
      .card_img {
        img {
          width: 320px;
          height: 200px;
        }
      }
      .card-name-product {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #666;
        margin: 25px 0;
        h2 {
          left: 0;
          top: 0;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: #333;
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          max-height: 54px;
          height: 38px;
        }
      }
      .info_price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        p {
          font-size: 14px;
          text-align: center;
          color: #666;
          margin: 8px 0;
        }
        .price {
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: normal;
          color: #f0f0f0;
          background-color: #e40000;
          border-radius: 5px;
          padding: 5px 10px;
        }
      }
    }
  }
}
.item-product:hover {
  -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.15));
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 4;
  cursor: pointer;
}
.btn-add-cart {
  background: #e0e0e0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  position: relative;
  z-index: 5;
  border: none;
}
.btn-add-cart:hover {
  background: red;
  color: white;
}
