.body {
  margin-left: 150px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content {
  margin-top: 50px;
}
.blog-name {
  font-size: 30px;
  position: relative;
}
.blog-name:after {
  content: "";
  height: 2px;
  width: 400px;
  background: #dad5d5;
  position: absolute;
  left: 0;
  bottom: 0;
}
.title {
  margin-top: -20px;
}
.title-name {
  font-size: 30px;
  margin-top: 15px;
  position: relative;
  text-align: center;
}
.title-name a {
  color: black;
  margin-left: 30px;
  margin-right: 30px;
}
.title-name::after {
  content: "";
  height: 2px;
  width: 970px;
  background: #dad5d5;
  position: absolute;
  left: 0;
  bottom: 0;
}
.title-name a:hover {
  color: red;
}
.card-blog {
  margin-top: 20px;
}
.blog-name-1 {
  font-size: 30px;
  position: relative;
}
.blog-name-1:after {
  content: "";
  height: 2px;
  width: 400px;
  background: #dad5d5;
  position: absolute;
  left: 0;
  bottom: 0;
}
.card-blog-1 {
  margin-bottom: 30px;
  margin-top: 20px;
}
