.body {
  margin: 0;
  padding: 0;
}
.links-title {
  position: relative;
}
.links-title:after {
  content: "";
  position: absolute;
  width: 350px;
  height: 3px;
  background: #dadada;
  bottom: 30px;
  left: 0;
}
.links-group-title {
  margin-left: 150px;
  text-align: center;
  align-items: center;
  position: relative;
  height: 3px;
}
.links-group-title a {
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
.links-group-title:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #dadada;
  bottom: -43px;
  left: 0;
}
.links-group-title a:hover {
  color: red;
}
.links-group-title a:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: red;
  bottom: 0;
  left: 0;
}
.links-group-product {
  display: flex;
}
