.border-form {
  border-radius: 10;
}
.btn-submit_contact {
  color: white;
  background-color: red;
  border: none;
  font-weight: bold;
}
.btn-submit_contact:hover {
  background-color: red;
}
.btn-submit_contact:focus {
  background-color: red;
}
.contact_email {
  color: black;
}
.contact_email:hover {
  color: red;
}
